:root {
    --somevar: black;
    --somevar2: white;
}

body {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
    font-weight: 300
}

h1 {
    font-weight: 500
}

.somevarclass {
    color: var(--somevar);
}

small {
    font-size: 1rem;
    color: gray
}

main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

span {
    font-weight: 400;
    font-size: 0.8rem
}

strong {
    font-weight: 600;
    font-size: 0.8rem
}

button {
    /* background-color: darkcyan; */
    /* color: wheat; */
    background-color: var(--somevar);
    color: var(--somevar2);
    border-radius: 4rem;
    border: none;
    padding: 2px 16px;
    border: 2px solid transparent;
    margin: 4px;
    transform: scale(1);
    transition: 0.15s all ease;
}

button:hover {
    /* background-color: rgb(2, 154, 154); */
    transform: scale(1.1);
}

.red {
    color: red;
}

.centered {
    text-align: center;
}

.tip {
    padding-top: 7px;
    padding-bottom: 7px;
}

.center-of-screen {
    height: 34px;
    width: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -17px;
    margin-left: -75px;
}

.chessboard-container {
    padding-top: 10px;
}

table.chessboard {
    /* border: 2px solid black; */
    border-collapse: collapse;
    table-layout: fixed;
    width: 320px;
    /* border-radius: 20px; */
}

table.chessboard.game-over {
    opacity: 0.3;
}

table.chessboard td {
    overflow: hidden;
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
}

table.chessboard td.coord {
    overflow: hidden;
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
}

table.chessboard td canvas {
    width: 40px;
    height: 40px;
    vertical-align: bottom;
}

.square-dumb-move:not(.square-selected):not(.square-selected-quantum) {
    background-color: rgb(236, 236, 166);
}

.square-last-move:not(.square-dumb-move):not(.square-selected):not(.square-selected-quantum) {
    background-color: #99ccff;
}

.square-black:not(.square-dumb-move):not(.square-selected):not(.square-selected-quantum):not(.square-last-move) {
    background-color: #fffbfb8f;
}

.square-white:not(.square-dumb-move):not(.square-selected):not(.square-selected-quantum):not(.square-last-move) {
    /* background-color: #ffffe0; */
}

.square-selected {
    background-color: #99ff99;
}

.square-selected-quantum {
    background-color: #e600e6;
}
